<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link rel="shorcut icon" href="/img/D_title.png">

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- js -->
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
</head>
<body>
    <div id="wrapper">
        <h1>Hello <%= (name) %></h1>
    </div>
    
    <script>
        const socket = io("http://localhost:3000");
        $(document).ready(() => {
            alert("Hello World!!!");
        });
    </script>
</body>
</html>